body {
    margin: 0 auto;
}
form {
    background-color: blue;
    padding: 50px;
    text-align: center;
    width: 100%;
}
form input {
    margin-bottom: 30px;
    font-size: 25px;
}
p {
    color: #ffffff;
    font-size: 30px;
}
.navbar-text {
    text-align: center;
}